<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Homepage</title>
  </head>
  <body>
    <div class="container">
      <h3>Issue Tracker</h3>
      <div class="complete-form create-form">
        <h5>Create a new issue</h3>

        <form id='issue-form' action="/new/FCC" method="post">
          <div class="form-group">
            <label for="project-selection">Select Project:</label>
            <select name="project" class="form-control" id="project-selection">
              <option>FCC</option>
              <option>Testing</option>
              <option>Javascript</option>
            </select>
          </div>
          <div class="form-group">
            <label for="issue-title"> Data to Convert:</label>
            <input class="form-control issue" id="issue-title" type="text" name="title" placeholder="Issue Title*" required>
            <div class="form-group">
              <label for="issue-des">Description:</label>
              <textarea class="form-control" id="issue-des" rows="3" name="description" placeholder="Issues Description*" required></textarea>
            </div>
            <label for="created-by">Created by:</label>
            <input class="form-control" id="created-by" type="text" name="creator" placeholder="Created-by*" required>
            <label for="created-by">Assign To:</label>
            <input class="form-control" type="text" name="assignee" placeholder="Assigned To (optional)">
            <label for="created-by">Status:</label>
            <input class="form-control" type="text" name="status" placeholder="Status (optional)">
          </div>
          <button type="submit" class="btn btn-primary">Create Issue</button>
        </form>
      </div>
      <div class="complete-form issue-section">
        <h5>Issue list</h3>
          <label for="project-selection">Select Project:</label>
        <form action="/issues/FCC" method="get">
          <div class="form-group find-project">

            <select name="project" class="form-control" id="issue-project">
              <option>ALL</option>
              <option>FCC</option>
              <option>Testing</option>
              <option>Javascript</option>
            </select>
          <button type="submit" class="btn btn-primary find-btn">Find</button>
          </div>
        </form>

        <% for (var i = 0; i < dbIssues.length; i++) { %>
            <div class="display-issue">
              <span>Issue ID: <%= dbIssues[i].id %></span>
              <% if(dbIssues[i].open){ %>
                    <span>State: Open</span>
               <% }else{ %>
                    <span>State: Closed</span>
                <%}%>
              <span><%= dbIssues[i].title %></span>
              <span><%= dbIssues[i].description %></span>
              <span>Created By: <%= dbIssues[i].creator %></span> <span>Assigned To: <%= dbIssues[i].assignee %></span>
              <% if(dbIssues[i].open){ %>
                  <button id="<%= dbIssues[i]._id %>" class="btn btn-warning issue-btn state-btn">Close</button></a>
               <% }else{ %>
                  <button id="<%= dbIssues[i]._id %>" class="btn btn-warning state-btn">Re-open</button></a>
                <%}%>
              <button id="<%= dbIssues[i]._id %>" value= "<%= dbIssues[i].project %>" class="btn btn-danger issue-btn delete-btn">Delete</button></a>
            </div>

        <% } %>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
